Aula 10 - TEP/Aula10-Criar Agendamento Cal.com.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Criar Agendamento Cal.com
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 6613e06a-2543-46ed-9fa6-4663d3d39edb
    name: eventTypeId
    value: 1261144
    value_type: number
  - description: ''
    id: f1f870d7-4420-481e-bf3a-c74f8aa9b3bc
    name: APIKey
    value: cal_live_87ecb82111ab491765c540257666826f
    value_type: secret
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1729813846686-source-1729814187266-target
      source: '1729813846686'
      sourceHandle: source
      target: '1729814187266'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1729814187266-source-1729815402483-target
      source: '1729814187266'
      sourceHandle: source
      target: '1729815402483'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: Slot de data selecionada para o agendamento
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: dataslot
        - label: Nome completo
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: nome
        - label: Email
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: email
        - label: Telefone no formato (XX) XXXXX-XXXX
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: telefone
      height: 167
      id: '1729813846686'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: "{\n  \"start\": \"{{#1729813846686.dataslot#}}\",\n  \"eventTypeId\"\
            : {{#env.eventTypeId#}},\n  \"attendee\": {\n    \"name\": \"{{#1729813846686.nome#}}\"\
            ,\n    \"email\": \"{{#1729813846686.email#}}\",\n    \"timeZone\": \"\
            America/Cuiaba\",\n    \"language\": \"pt-BR\"\n  },\n  \"guests\": [],\n\
            \  \"meetingUrl\":\"http://unemat.br\",\n  \"location\": \"http://unemat.br\"\
            ,\n\"bookingFieldsResponses\": {\n    \"customField\": \"{{#1729813846686.telefone#}}\"\
            \n }\n}"
          type: json
        desc: ''
        headers: 'Authorization:Bearer{{#env.APIKey#}}

          cal-api-version:2024-08-13'
        method: post
        params: eventTypeId:{{#env.eventTypeId#}}
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Requisição HTTP
        type: http-request
        url: https://api.cal.com/v2/bookings
        variables: []
      height: 105
      id: '1729814187266'
      position:
        x: 383
        y: 282
      positionAbsolute:
        x: 383
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1729814187266'
          - body
          variable: result
        selected: false
        title: Fim
        type: end
      height: 89
      id: '1729815402483'
      position:
        x: 686
        y: 282
      positionAbsolute:
        x: 686
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
